//
// Generated (version 2021.4-SP1.2<build 96435>) at Tue Oct 25 09:52:07 2022
//

module ipml_sdpram_v1_6_ram_2port
(
    input [4:0] rd_addr,
    input [4:0] wr_addr,
    input [7:0] wr_data,
    input N0_0,
    input rd_clk,
    input wr_clk,
    input wr_en,
    output [7:0] rd_data
);
    wire [17:0] QA_bus;
    wire [17:0] QB_bus;

    GTP_DRM9K /* \ADDR_LOOP[0].DATA_LOOP[0].U_GTP_DRM9K  */ #(
            .GRS_EN("FALSE"), 
            .DATA_WIDTH_A(32), 
            .DATA_WIDTH_B(32), 
            .DOA_REG(0), 
            .DOB_REG(0), 
            .DOA_REG_CLKINV(0), 
            .DOB_REG_CLKINV(0), 
            .RST_TYPE("ASYNC"), 
            .RAM_MODE("SIMPLE_DUAL_PORT"), 
            .WRITE_MODE_A("NORMAL_WRITE"), 
            .WRITE_MODE_B("NORMAL_WRITE"), 
            .SIM_DEVICE("PGL22G"), 
            .INIT_00(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_01(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_02(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_03(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_04(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_05(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_06(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_07(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_08(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_09(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_0A(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_0B(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_0C(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_0D(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_0E(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_0F(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_10(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_11(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_12(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_13(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_14(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_15(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_16(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_17(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_18(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_19(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_1A(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_1B(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_1C(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_1D(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_1E(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_1F(288'b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000), 
            .INIT_FILE("NONE"), 
            .BLOCK_X(0), 
            .BLOCK_Y(0), 
            .RAM_DATA_WIDTH(32), 
            .RAM_ADDR_WIDTH(8), 
            .INIT_FORMAT("BIN"))
        \ADDR_LOOP[0].DATA_LOOP[0].U_GTP_DRM9K  (
            .DOA ({QA_bus[17], QA_bus[16], QA_bus[15], QA_bus[14], QA_bus[13], QA_bus[12], QA_bus[11], QA_bus[10], QA_bus[9], QA_bus[8], rd_data[7], rd_data[6], rd_data[5], rd_data[4], rd_data[3], rd_data[2], rd_data[1], rd_data[0]}),
            .DOB (QB_bus),
            .ADDRA ({1'b0, 1'b0, 1'b0, wr_addr[4], wr_addr[3], wr_addr[2], wr_addr[1], wr_addr[0], 1'b0, 1'b1, 1'b1, 1'b1, 1'b1}),
            .ADDRB ({1'b0, 1'b0, 1'b0, rd_addr[4], rd_addr[3], rd_addr[2], rd_addr[1], rd_addr[0], 1'b0, 1'b1, 1'b1, 1'b1, 1'b1}),
            .DIA ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, wr_data[7], wr_data[6], wr_data[5], wr_data[4], wr_data[3], wr_data[2], wr_data[1], wr_data[0]}),
            .DIB ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .ADDRA_HOLD (1'b0),
            .ADDRB_HOLD (1'b0),
            .CEA (1'b1),
            .CEB (1'b1),
            .CLKA (wr_clk),
            .CLKB (rd_clk),
            .ORCEA (1'b0),
            .ORCEB (1'b0),
            .RSTA (N0_0),
            .RSTB (N0_0),
            .WEA (wr_en),
            .WEB (1'b0));
	// ../ipcore/ram_2port/rtl/ipml_sdpram_v1_6_ram_2port.v:857


endmodule


module ram_2port
(
    input [4:0] rd_addr,
    input [4:0] wr_addr,
    input [7:0] wr_data,
    input N0_0,
    input rd_clk,
    input wr_clk,
    input wr_en,
    output [7:0] rd_data
);

    ipml_sdpram_v1_6_ram_2port U_ipml_sdpram_ram_2port (
            .rd_data (rd_data),
            .rd_addr (rd_addr),
            .wr_addr (wr_addr),
            .wr_data (wr_data),
            .N0_0 (N0_0),
            .rd_clk (rd_clk),
            .wr_clk (wr_clk),
            .wr_en (wr_en));
	// ../ipcore/ram_2port/ram_2port.v:159


endmodule


module pll_clk
(
    input clkin1,
    input pll_rst,
    output clkout0,
    output clkout1,
    output pll_lock
);
    wire clkout0_2pad;
    wire clkout2;
    wire clkout3;
    wire clkout4;
    wire clkout5;
    wire clkswitch_flag;

    GTP_PLL_E1 /* u_pll_e1 */ #(
            .CLKIN_FREQ(50), 
            .PFDEN_EN("FALSE"), 
            .VCOCLK_DIV2(1'b0), 
            .DYNAMIC_RATIOI_EN("FALSE"), 
            .DYNAMIC_RATIO0_EN("FALSE"), 
            .DYNAMIC_RATIO1_EN("FALSE"), 
            .DYNAMIC_RATIO2_EN("FALSE"), 
            .DYNAMIC_RATIO3_EN("FALSE"), 
            .DYNAMIC_RATIO4_EN("FALSE"), 
            .DYNAMIC_RATIOF_EN("FALSE"), 
            .STATIC_RATIOI(2), 
            .STATIC_RATIO0(12), 
            .STATIC_RATIO1(24), 
            .STATIC_RATIO2(16), 
            .STATIC_RATIO3(16), 
            .STATIC_RATIO4(16), 
            .STATIC_RATIOF(24), 
            .DYNAMIC_DUTY0_EN("FALSE"), 
            .DYNAMIC_DUTY1_EN("FALSE"), 
            .DYNAMIC_DUTY2_EN("FALSE"), 
            .DYNAMIC_DUTY3_EN("FALSE"), 
            .DYNAMIC_DUTY4_EN("FALSE"), 
            .DYNAMIC_DUTYF_EN("FALSE"), 
            .STATIC_DUTY0(12), 
            .STATIC_DUTY1(24), 
            .STATIC_DUTY2(16), 
            .STATIC_DUTY3(16), 
            .STATIC_DUTY4(16), 
            .STATIC_DUTYF(24), 
            .PHASE_ADJUST0_EN("TRUE"), 
            .PHASE_ADJUST1_EN("TRUE"), 
            .PHASE_ADJUST2_EN("TRUE"), 
            .PHASE_ADJUST3_EN("TRUE"), 
            .PHASE_ADJUST4_EN("TRUE"), 
            .DYNAMIC_PHASE0_EN("FALSE"), 
            .DYNAMIC_PHASE1_EN("FALSE"), 
            .DYNAMIC_PHASE2_EN("FALSE"), 
            .DYNAMIC_PHASE3_EN("FALSE"), 
            .DYNAMIC_PHASE4_EN("FALSE"), 
            .DYNAMIC_PHASEF_EN("FALSE"), 
            .STATIC_PHASE0(0), 
            .STATIC_PHASE1(0), 
            .STATIC_PHASE2(0), 
            .STATIC_PHASE3(0), 
            .STATIC_PHASE4(0), 
            .STATIC_PHASEF(0), 
            .STATIC_CPHASE0(2), 
            .STATIC_CPHASE1(2), 
            .STATIC_CPHASE2(2), 
            .STATIC_CPHASE3(2), 
            .STATIC_CPHASE4(2), 
            .STATIC_CPHASEF(2), 
            .CLK_CAS0_EN("FALSE"), 
            .CLK_CAS1_EN("FALSE"), 
            .CLK_CAS2_EN("FALSE"), 
            .CLK_CAS3_EN("FALSE"), 
            .CLK_CAS4_EN("FALSE"), 
            .CLKOUT5_SEL(0), 
            .CLKIN_BYPASS_EN("FALSE"), 
            .CLKOUT0_SYN_EN("FALSE"), 
            .CLKOUT0_EXT_SYN_EN("FALSE"), 
            .CLKOUT1_SYN_EN("FALSE"), 
            .CLKOUT2_SYN_EN("FALSE"), 
            .CLKOUT3_SYN_EN("FALSE"), 
            .CLKOUT4_SYN_EN("FALSE"), 
            .CLKOUT5_SYN_EN("FALSE"), 
            .INTERNAL_FB("ENABLE"), 
            .EXTERNAL_FB("DISABLE"), 
            .BANDWIDTH("OPTIMIZED"), 
            .RSTODIV_PHASE_EN("FALSE"), 
            .SIM_DEVICE("PGL22G"))
        u_pll_e1 (
            .CPHASE0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CPHASE1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CPHASE2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CPHASE3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CPHASE4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CPHASEF (),
            .DUTY0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTY4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .DUTYF (),
            .PHASE0 ({1'b0, 1'b0, 1'b0}),
            .PHASE1 ({1'b0, 1'b0, 1'b0}),
            .PHASE2 ({1'b0, 1'b0, 1'b0}),
            .PHASE3 ({1'b0, 1'b0, 1'b0}),
            .PHASE4 ({1'b0, 1'b0, 1'b0}),
            .PHASEF (),
            .RATIO0 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO1 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO2 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO3 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIO4 ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOF ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .RATIOI ({1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0, 1'b0}),
            .CLKOUT0 (clkout0),
            .CLKOUT0_EXT (clkout0_2pad),
            .CLKOUT1 (clkout1),
            .CLKOUT2 (clkout2),
            .CLKOUT3 (clkout3),
            .CLKOUT4 (clkout4),
            .CLKOUT5 (clkout5),
            .CLKSWITCH_FLAG (clkswitch_flag),
            .LOCK (pll_lock),
            .CLKFB (1'b0),
            .CLKIN1 (clkin1),
            .CLKIN2 (1'b0),
            .CLKIN_SEL (1'b0),
            .CLKIN_SEL_EN (1'b0),
            .CLKOUT0_EXT_SYN (1'b0),
            .CLKOUT0_SYN (1'b0),
            .CLKOUT1_SYN (1'b0),
            .CLKOUT2_SYN (1'b0),
            .CLKOUT3_SYN (1'b0),
            .CLKOUT4_SYN (1'b0),
            .CLKOUT5_SYN (1'b0),
            .PFDEN (1'b0),
            .PLL_PWD (1'b0),
            .RST (pll_rst),
            .RSTODIV_PHASE (1'b0));
	// ../ipcore/pll_clk/pll_clk.v:243
	// SDC constraint : (object CLKOUT0) (id 1002) (clock clk|u_pll_clk/u_pll_e1/CLKOUT0_Inferred) (inferred)
	// SDC constraint : (object CLKOUT1) (id 1001) (clock clk|u_pll_clk/u_pll_e1/CLKOUT1_Inferred) (inferred)


endmodule


module ram_rd
(
    input N0_0,
    input clk,
    input rst_n,
    output [4:0] ram_rd_addr,
    output ram_rd_en
);
    wire [5:0] N15;
    wire [4:0] N37;
    wire _N22;
    wire _N65;
    wire _N66;
    wire _N67;
    wire _N68;
    wire [5:0] rd_cnt;
    wire \rd_cnt[0]_inv ;

    GTP_LUT2 /* N7 */ #(
            .INIT(4'b0010))
        N7 (
            .Z (ram_rd_en),
            .I0 (rst_n),
            .I1 (rd_cnt[5]));
	// LUT = I0&~I1 ;
	// ../../rtl/ram_rd.v:40

    GTP_LUT5CARRY /* N15_1_1 */ #(
            .INIT(32'b01100110011001100000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_1 (
            .COUT (_N65),
            .Z (N15[1]),
            .CIN (),
            .I0 (rd_cnt[0]),
            .I1 (rd_cnt[1]),
            .I2 (),
            .I3 (),
            .I4 (1'b1),
            .ID ());
	// LUT = I1^I0 ;
	// CARRY = (1'b0) ? CIN : (I4) ;
	// ../../rtl/ram_rd.v:49

    GTP_LUT5CARRY /* N15_1_2 */ #(
            .INIT(32'b01111000011110001000000010000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_2 (
            .COUT (_N66),
            .Z (N15[2]),
            .CIN (_N65),
            .I0 (rd_cnt[0]),
            .I1 (rd_cnt[1]),
            .I2 (rd_cnt[2]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (I0&I1&~I2)|(~I1&I2)|(~I0&I2) ;
	// CARRY = ((I0&I1&I2)) ? CIN : (I4) ;
	// ../../rtl/ram_rd.v:49

    GTP_LUT5CARRY /* N15_1_3 */ #(
            .INIT(32'b01100110011001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_3 (
            .COUT (_N67),
            .Z (N15[3]),
            .CIN (_N66),
            .I0 (),
            .I1 (rd_cnt[3]),
            .I2 (),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = I1^CIN ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_rd.v:49

    GTP_LUT5CARRY /* N15_1_4 */ #(
            .INIT(32'b01100110011001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_4 (
            .COUT (_N68),
            .Z (N15[4]),
            .CIN (_N67),
            .I0 (),
            .I1 (rd_cnt[4]),
            .I2 (),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = I1^CIN ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_rd.v:49

    GTP_LUT5CARRY /* N15_1_5 */ #(
            .INIT(32'b01100110011001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_5 (
            .COUT (),
            .Z (N15[5]),
            .CIN (_N68),
            .I0 (),
            .I1 (rd_cnt[5]),
            .I2 (),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = I1^CIN ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_rd.v:49

    GTP_LUT3 /* N30_ac2 */ #(
            .INIT(8'b10000000))
        N30_ac2 (
            .Z (_N22),
            .I0 (ram_rd_addr[2]),
            .I1 (ram_rd_addr[1]),
            .I2 (ram_rd_addr[0]));
	// LUT = I0&I1&I2 ;

    GTP_LUT2 /* \N37[0]_1  */ #(
            .INIT(4'b0001))
        \N37[0]_1  (
            .Z (N37[0]),
            .I0 (rd_cnt[5]),
            .I1 (ram_rd_addr[0]));
	// LUT = ~I0&~I1 ;
	// ../../rtl/ram_rd.v:53

    GTP_LUT3 /* \N37[1]_1  */ #(
            .INIT(8'b00010010))
        \N37[1]_1  (
            .Z (N37[1]),
            .I0 (ram_rd_addr[1]),
            .I1 (rd_cnt[5]),
            .I2 (ram_rd_addr[0]));
	// LUT = (I0&~I1&~I2)|(~I0&~I1&I2) ;
	// ../../rtl/ram_rd.v:53

    GTP_LUT4 /* \N37[2]_1  */ #(
            .INIT(16'b0000011000001010))
        \N37[2]_1  (
            .Z (N37[2]),
            .I0 (ram_rd_addr[2]),
            .I1 (ram_rd_addr[1]),
            .I2 (rd_cnt[5]),
            .I3 (ram_rd_addr[0]));
	// LUT = (I0&~I2&~I3)|(I0&~I1&~I2)|(~I0&I1&~I2&I3) ;
	// ../../rtl/ram_rd.v:53

    GTP_LUT5 /* \N37[3]_1  */ #(
            .INIT(32'b00000110000010100000101000001010))
        \N37[3]_1  (
            .Z (N37[3]),
            .I0 (ram_rd_addr[3]),
            .I1 (ram_rd_addr[2]),
            .I2 (rd_cnt[5]),
            .I3 (ram_rd_addr[1]),
            .I4 (ram_rd_addr[0]));
	// LUT = (I0&~I2&~I4)|(I0&~I2&~I3)|(I0&~I1&~I2)|(~I0&I1&~I2&I3&I4) ;
	// ../../rtl/ram_rd.v:53

    GTP_LUT4 /* \N37[4]_1  */ #(
            .INIT(16'b0000011000001100))
        \N37[4]_1  (
            .Z (N37[4]),
            .I0 (ram_rd_addr[3]),
            .I1 (ram_rd_addr[4]),
            .I2 (rd_cnt[5]),
            .I3 (_N22));
	// LUT = (I1&~I2&~I3)|(~I0&I1&~I2)|(I0&~I1&~I2&I3) ;
	// ../../rtl/ram_rd.v:53

    GTP_DFF_C /* \ram_rd_addr[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_rd_addr[0]  (
            .Q (ram_rd_addr[0]),
            .C (N0_0),
            .CLK (clk),
            .D (N37[0]));
	// ../../rtl/ram_rd.v:53

    GTP_DFF_C /* \ram_rd_addr[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_rd_addr[1]  (
            .Q (ram_rd_addr[1]),
            .C (N0_0),
            .CLK (clk),
            .D (N37[1]));
	// ../../rtl/ram_rd.v:53

    GTP_DFF_C /* \ram_rd_addr[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_rd_addr[2]  (
            .Q (ram_rd_addr[2]),
            .C (N0_0),
            .CLK (clk),
            .D (N37[2]));
	// ../../rtl/ram_rd.v:53

    GTP_DFF_C /* \ram_rd_addr[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_rd_addr[3]  (
            .Q (ram_rd_addr[3]),
            .C (N0_0),
            .CLK (clk),
            .D (N37[3]));
	// ../../rtl/ram_rd.v:53

    GTP_DFF_C /* \ram_rd_addr[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_rd_addr[4]  (
            .Q (ram_rd_addr[4]),
            .C (N0_0),
            .CLK (clk),
            .D (N37[4]));
	// ../../rtl/ram_rd.v:53

    GTP_DFF_C /* \rd_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rd_cnt[0]  (
            .Q (rd_cnt[0]),
            .C (N0_0),
            .CLK (clk),
            .D (\rd_cnt[0]_inv ));
	// ../../rtl/ram_rd.v:43

    GTP_DFF_C /* \rd_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rd_cnt[1]  (
            .Q (rd_cnt[1]),
            .C (N0_0),
            .CLK (clk),
            .D (N15[1]));
	// ../../rtl/ram_rd.v:43

    GTP_DFF_C /* \rd_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rd_cnt[2]  (
            .Q (rd_cnt[2]),
            .C (N0_0),
            .CLK (clk),
            .D (N15[2]));
	// ../../rtl/ram_rd.v:43

    GTP_DFF_C /* \rd_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rd_cnt[3]  (
            .Q (rd_cnt[3]),
            .C (N0_0),
            .CLK (clk),
            .D (N15[3]));
	// ../../rtl/ram_rd.v:43

    GTP_DFF_C /* \rd_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rd_cnt[4]  (
            .Q (rd_cnt[4]),
            .C (N0_0),
            .CLK (clk),
            .D (N15[4]));
	// ../../rtl/ram_rd.v:43

    GTP_LUT1 /* \rd_cnt[5:0]_inv  */ #(
            .INIT(2'b01))
        \rd_cnt[5:0]_inv  (
            .Z (\rd_cnt[0]_inv ),
            .I0 (rd_cnt[0]));
	// LUT = ~I0 ;

    GTP_DFF_C /* \rd_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rd_cnt[5]  (
            .Q (rd_cnt[5]),
            .C (N0_0),
            .CLK (clk),
            .D (N15[5]));
	// ../../rtl/ram_rd.v:43


endmodule


module ram_wr
(
    input N0_0,
    input clk,
    input rst_n,
    output [4:0] ram_wr_addr,
    output [7:0] ram_wr_data,
    output ram_wr_en
);
    wire [5:0] N52;
    wire [7:0] N53;
    wire [4:0] N54;
    wire _N46;
    wire _N57;
    wire _N58;
    wire _N59;
    wire _N60;
    wire _N61;
    wire _N62;
    wire _N70;
    wire _N71;
    wire _N72;
    wire _N73;
    wire _N74;
    wire _N82;
    wire _N83;
    wire [5:0] wr_cnt;

    GTP_LUT2 /* N7 */ #(
            .INIT(4'b0010))
        N7 (
            .Z (ram_wr_en),
            .I0 (rst_n),
            .I1 (wr_cnt[5]));
	// LUT = I0&~I1 ;
	// ../../rtl/ram_wr.v:41

    GTP_LUT5CARRY /* N15_1_0 */ #(
            .INIT(32'b11001100110011000000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("FALSE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_0 (
            .COUT (_N70),
            .Z (),
            .CIN (),
            .I0 (),
            .I1 (wr_cnt[0]),
            .I2 (),
            .I3 (),
            .I4 (),
            .ID ());
	// LUT = I1 ;
	// CARRY = (1'b0) ? CIN : (I1) ;
	// ../../rtl/ram_wr.v:50

    GTP_LUT5CARRY /* N15_1_1 */ #(
            .INIT(32'b11011110010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_1 (
            .COUT (_N71),
            .Z (N52[1]),
            .CIN (_N70),
            .I0 (),
            .I1 (_N82),
            .I2 (wr_cnt[1]),
            .I3 (_N83),
            .I4 (1'b0),
            .ID ());
	// LUT = (I1&I3)|(CIN&~I2)|(~CIN&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:50

    GTP_LUT5CARRY /* N15_1_2 */ #(
            .INIT(32'b11011110010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_2 (
            .COUT (_N72),
            .Z (N52[2]),
            .CIN (_N71),
            .I0 (),
            .I1 (_N82),
            .I2 (wr_cnt[2]),
            .I3 (_N83),
            .I4 (1'b0),
            .ID ());
	// LUT = (I1&I3)|(CIN&~I2)|(~CIN&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:50

    GTP_LUT5CARRY /* N15_1_3 */ #(
            .INIT(32'b11011110010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_3 (
            .COUT (_N73),
            .Z (N52[3]),
            .CIN (_N72),
            .I0 (),
            .I1 (_N82),
            .I2 (wr_cnt[3]),
            .I3 (_N83),
            .I4 (1'b0),
            .ID ());
	// LUT = (I1&I3)|(CIN&~I2)|(~CIN&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:50

    GTP_LUT5CARRY /* N15_1_4 */ #(
            .INIT(32'b11011110010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_4 (
            .COUT (_N74),
            .Z (N52[4]),
            .CIN (_N73),
            .I0 (),
            .I1 (_N82),
            .I2 (wr_cnt[4]),
            .I3 (_N83),
            .I4 (1'b0),
            .ID ());
	// LUT = (I1&I3)|(CIN&~I2)|(~CIN&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:50

    GTP_LUT5CARRY /* N15_1_5 */ #(
            .INIT(32'b11011110010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N15_1_5 (
            .COUT (),
            .Z (N52[5]),
            .CIN (_N74),
            .I0 (),
            .I1 (_N82),
            .I2 (wr_cnt[5]),
            .I3 (_N83),
            .I4 (1'b0),
            .ID ());
	// LUT = (I1&I3)|(CIN&~I2)|(~CIN&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:50

    GTP_LUT5CARRY /* N30_1_1 */ #(
            .INIT(32'b00000110000001100000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_1 (
            .COUT (_N57),
            .Z (N53[1]),
            .CIN (),
            .I0 (ram_wr_data[0]),
            .I1 (ram_wr_data[1]),
            .I2 (wr_cnt[5]),
            .I3 (),
            .I4 (1'b1),
            .ID ());
	// LUT = (I0&~I1&~I2)|(~I0&I1&~I2) ;
	// CARRY = (1'b0) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:58

    GTP_LUT5CARRY /* N30_1_2 */ #(
            .INIT(32'b00000111000010001000100000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_2 (
            .COUT (_N58),
            .Z (N53[2]),
            .CIN (_N57),
            .I0 (ram_wr_data[0]),
            .I1 (ram_wr_data[1]),
            .I2 (wr_cnt[5]),
            .I3 (ram_wr_data[2]),
            .I4 (1'b0),
            .ID ());
	// LUT = (I0&I1&~I2&~I3)|(~I1&~I2&I3)|(~I0&~I2&I3) ;
	// CARRY = ((I0&I1&I3)) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:58

    GTP_LUT5CARRY /* N30_1_3 */ #(
            .INIT(32'b00000110000001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_3 (
            .COUT (_N59),
            .Z (N53[3]),
            .CIN (_N58),
            .I0 (),
            .I1 (ram_wr_data[3]),
            .I2 (wr_cnt[5]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&~I2)|(~CIN&I1&~I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:58

    GTP_LUT5CARRY /* N30_1_4 */ #(
            .INIT(32'b00000110000001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_4 (
            .COUT (_N60),
            .Z (N53[4]),
            .CIN (_N59),
            .I0 (),
            .I1 (ram_wr_data[4]),
            .I2 (wr_cnt[5]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&~I2)|(~CIN&I1&~I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:58

    GTP_LUT5CARRY /* N30_1_5 */ #(
            .INIT(32'b00000110000001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_5 (
            .COUT (_N61),
            .Z (N53[5]),
            .CIN (_N60),
            .I0 (),
            .I1 (ram_wr_data[5]),
            .I2 (wr_cnt[5]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&~I2)|(~CIN&I1&~I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:58

    GTP_LUT5CARRY /* N30_1_6 */ #(
            .INIT(32'b00000110000001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_6 (
            .COUT (_N62),
            .Z (N53[6]),
            .CIN (_N61),
            .I0 (),
            .I1 (ram_wr_data[6]),
            .I2 (wr_cnt[5]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&~I2)|(~CIN&I1&~I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:58

    GTP_LUT5CARRY /* N30_1_7 */ #(
            .INIT(32'b00000110000001101100110011001100), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_7 (
            .COUT (),
            .Z (N53[7]),
            .CIN (_N62),
            .I0 (),
            .I1 (ram_wr_data[7]),
            .I2 (wr_cnt[5]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I1&~I2)|(~CIN&I1&~I2) ;
	// CARRY = (I1) ? CIN : (I4) ;
	// ../../rtl/ram_wr.v:58

    GTP_LUT2 /* N46_ac1 */ #(
            .INIT(4'b1000))
        N46_ac1 (
            .Z (_N46),
            .I0 (ram_wr_addr[1]),
            .I1 (ram_wr_addr[0]));
	// LUT = I0&I1 ;

    GTP_LUT2 /* N50_4 */ #(
            .INIT(4'b1000))
        N50_4 (
            .Z (_N82),
            .I0 (wr_cnt[0]),
            .I1 (wr_cnt[5]));
	// LUT = I0&I1 ;

    GTP_LUT4 /* N50_5 */ #(
            .INIT(16'b1000000000000000))
        N50_5 (
            .Z (_N83),
            .I0 (wr_cnt[3]),
            .I1 (wr_cnt[2]),
            .I2 (wr_cnt[1]),
            .I3 (wr_cnt[4]));
	// LUT = I0&I1&I2&I3 ;

    GTP_LUT3 /* \N52[0]  */ #(
            .INIT(8'b10110011))
        \N52[0]  (
            .Z (N52[0]),
            .I0 (wr_cnt[5]),
            .I1 (wr_cnt[0]),
            .I2 (_N83));
	// LUT = (~I1)|(I0&I2) ;
	// ../../rtl/ram_wr.v:44

    GTP_LUT2 /* \N53[0]_1  */ #(
            .INIT(4'b0001))
        \N53[0]_1  (
            .Z (N53[0]),
            .I0 (ram_wr_data[0]),
            .I1 (wr_cnt[5]));
	// LUT = ~I0&~I1 ;
	// ../../rtl/ram_wr.v:54

    GTP_LUT2 /* \N54[0]_1  */ #(
            .INIT(4'b0001))
        \N54[0]_1  (
            .Z (N54[0]),
            .I0 (ram_wr_addr[0]),
            .I1 (wr_cnt[5]));
	// LUT = ~I0&~I1 ;
	// ../../rtl/ram_wr.v:64

    GTP_LUT3 /* \N54[1]_1  */ #(
            .INIT(8'b00000110))
        \N54[1]_1  (
            .Z (N54[1]),
            .I0 (ram_wr_addr[0]),
            .I1 (ram_wr_addr[1]),
            .I2 (wr_cnt[5]));
	// LUT = (I0&~I1&~I2)|(~I0&I1&~I2) ;
	// ../../rtl/ram_wr.v:64

    GTP_LUT4 /* \N54[2]_1  */ #(
            .INIT(16'b0000000001101100))
        \N54[2]_1  (
            .Z (N54[2]),
            .I0 (ram_wr_addr[0]),
            .I1 (ram_wr_addr[2]),
            .I2 (ram_wr_addr[1]),
            .I3 (wr_cnt[5]));
	// LUT = (I1&~I2&~I3)|(~I0&I1&~I3)|(I0&~I1&I2&~I3) ;
	// ../../rtl/ram_wr.v:64

    GTP_LUT5 /* \N54[3]_1  */ #(
            .INIT(32'b00000000000000000110110011001100))
        \N54[3]_1  (
            .Z (N54[3]),
            .I0 (ram_wr_addr[0]),
            .I1 (ram_wr_addr[3]),
            .I2 (ram_wr_addr[1]),
            .I3 (ram_wr_addr[2]),
            .I4 (wr_cnt[5]));
	// LUT = (I1&~I3&~I4)|(I1&~I2&~I4)|(~I0&I1&~I4)|(I0&~I1&I2&I3&~I4) ;
	// ../../rtl/ram_wr.v:64

    GTP_LUT5 /* \N54[4]_1  */ #(
            .INIT(32'b00010100010100000101000001010000))
        \N54[4]_1  (
            .Z (N54[4]),
            .I0 (wr_cnt[5]),
            .I1 (ram_wr_addr[3]),
            .I2 (ram_wr_addr[4]),
            .I3 (ram_wr_addr[2]),
            .I4 (_N46));
	// LUT = (~I0&I2&~I4)|(~I0&I2&~I3)|(~I0&~I1&I2)|(~I0&I1&~I2&I3&I4) ;
	// ../../rtl/ram_wr.v:64

    GTP_DFF_C /* \ram_wr_addr[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_addr[0]  (
            .Q (ram_wr_addr[0]),
            .C (N0_0),
            .CLK (clk),
            .D (N54[0]));
	// ../../rtl/ram_wr.v:64

    GTP_DFF_C /* \ram_wr_addr[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_addr[1]  (
            .Q (ram_wr_addr[1]),
            .C (N0_0),
            .CLK (clk),
            .D (N54[1]));
	// ../../rtl/ram_wr.v:64

    GTP_DFF_C /* \ram_wr_addr[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_addr[2]  (
            .Q (ram_wr_addr[2]),
            .C (N0_0),
            .CLK (clk),
            .D (N54[2]));
	// ../../rtl/ram_wr.v:64

    GTP_DFF_C /* \ram_wr_addr[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_addr[3]  (
            .Q (ram_wr_addr[3]),
            .C (N0_0),
            .CLK (clk),
            .D (N54[3]));
	// ../../rtl/ram_wr.v:64

    GTP_DFF_C /* \ram_wr_addr[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_addr[4]  (
            .Q (ram_wr_addr[4]),
            .C (N0_0),
            .CLK (clk),
            .D (N54[4]));
	// ../../rtl/ram_wr.v:64

    GTP_DFF_C /* \ram_wr_data[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[0]  (
            .Q (ram_wr_data[0]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[0]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \ram_wr_data[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[1]  (
            .Q (ram_wr_data[1]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[1]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \ram_wr_data[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[2]  (
            .Q (ram_wr_data[2]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[2]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \ram_wr_data[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[3]  (
            .Q (ram_wr_data[3]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[3]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \ram_wr_data[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[4]  (
            .Q (ram_wr_data[4]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[4]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \ram_wr_data[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[5]  (
            .Q (ram_wr_data[5]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[5]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \ram_wr_data[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[6]  (
            .Q (ram_wr_data[6]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[6]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \ram_wr_data[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \ram_wr_data[7]  (
            .Q (ram_wr_data[7]),
            .C (N0_0),
            .CLK (clk),
            .D (N53[7]));
	// ../../rtl/ram_wr.v:54

    GTP_DFF_C /* \wr_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \wr_cnt[0]  (
            .Q (wr_cnt[0]),
            .C (N0_0),
            .CLK (clk),
            .D (N52[0]));
	// ../../rtl/ram_wr.v:44

    GTP_DFF_C /* \wr_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \wr_cnt[1]  (
            .Q (wr_cnt[1]),
            .C (N0_0),
            .CLK (clk),
            .D (N52[1]));
	// ../../rtl/ram_wr.v:44

    GTP_DFF_C /* \wr_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \wr_cnt[2]  (
            .Q (wr_cnt[2]),
            .C (N0_0),
            .CLK (clk),
            .D (N52[2]));
	// ../../rtl/ram_wr.v:44

    GTP_DFF_C /* \wr_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \wr_cnt[3]  (
            .Q (wr_cnt[3]),
            .C (N0_0),
            .CLK (clk),
            .D (N52[3]));
	// ../../rtl/ram_wr.v:44

    GTP_DFF_C /* \wr_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \wr_cnt[4]  (
            .Q (wr_cnt[4]),
            .C (N0_0),
            .CLK (clk),
            .D (N52[4]));
	// ../../rtl/ram_wr.v:44

    GTP_DFF_C /* \wr_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \wr_cnt[5]  (
            .Q (wr_cnt[5]),
            .C (N0_0),
            .CLK (clk),
            .D (N52[5]));
	// ../../rtl/ram_wr.v:44


endmodule


module ip_2port_ram
(
    input sys_clk,
    input sys_rst_n,
    output [4:0] ram_rd_addr,
    output [7:0] ram_rd_data,
    output [4:0] ram_wr_addr,
    output [7:0] ram_wr_data,
    output clk_25m,
    output clk_50m,
    output locked,
    output ram_rd_en,
    output ram_wr_en
);
	// SDC constraint : (object sys_clk) (id 1000) (clock clk) (1 : C:/Users/ch/Desktop/2021.4-SP1.2/ip_2port_ram/prj/ip_2port_ram.fdc)
    wire N0;
    wire N0_0;
    wire nt_clk_25m;
    wire nt_clk_50m;
    wire nt_locked;
    wire [4:0] nt_ram_rd_addr;
    wire [7:0] nt_ram_rd_data;
    wire nt_ram_rd_en;
    wire [4:0] nt_ram_wr_addr;
    wire [7:0] nt_ram_wr_data;
    wire nt_ram_wr_en;
    wire nt_sys_clk;
    wire nt_sys_rst_n;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_LUT1 /* N0 */ #(
            .INIT(2'b01))
        N0_vname (
            .Z (N0),
            .I0 (nt_sys_rst_n));
    // defparam N0_vname.orig_name = N0;
	// LUT = ~I0 ;

    GTP_INV N0_0_vname (
            .Z (N0_0),
            .I (nt_sys_rst_n));
    // defparam N0_0_vname.orig_name = N0_0;

    GTP_OUTBUF /* clk_25m_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        clk_25m_obuf (
            .O (clk_25m),
            .I (nt_clk_25m));
	// ../../rtl/ip_2port_ram.v:28

    GTP_OUTBUF /* clk_50m_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        clk_50m_obuf (
            .O (clk_50m),
            .I (nt_clk_50m));
	// ../../rtl/ip_2port_ram.v:27

    GTP_OUTBUF /* locked_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        locked_obuf (
            .O (locked),
            .I (nt_locked));
	// ../../rtl/ip_2port_ram.v:29

    ram_2port ram_2port_inst (
            .rd_data (nt_ram_rd_data),
            .rd_addr (nt_ram_rd_addr),
            .wr_addr (nt_ram_wr_addr),
            .wr_data (nt_ram_wr_data),
            .N0_0 (N0_0),
            .rd_clk (nt_clk_25m),
            .wr_clk (nt_clk_50m),
            .wr_en (nt_ram_wr_en));
	// ../../rtl/ip_2port_ram.v:60

    GTP_OUTBUF /* \ram_rd_addr_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_addr_obuf[0]  (
            .O (ram_rd_addr[0]),
            .I (nt_ram_rd_addr[0]));
	// ../../rtl/ip_2port_ram.v:34

    GTP_OUTBUF /* \ram_rd_addr_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_addr_obuf[1]  (
            .O (ram_rd_addr[1]),
            .I (nt_ram_rd_addr[1]));
	// ../../rtl/ip_2port_ram.v:34

    GTP_OUTBUF /* \ram_rd_addr_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_addr_obuf[2]  (
            .O (ram_rd_addr[2]),
            .I (nt_ram_rd_addr[2]));
	// ../../rtl/ip_2port_ram.v:34

    GTP_OUTBUF /* \ram_rd_addr_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_addr_obuf[3]  (
            .O (ram_rd_addr[3]),
            .I (nt_ram_rd_addr[3]));
	// ../../rtl/ip_2port_ram.v:34

    GTP_OUTBUF /* \ram_rd_addr_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_addr_obuf[4]  (
            .O (ram_rd_addr[4]),
            .I (nt_ram_rd_addr[4]));
	// ../../rtl/ip_2port_ram.v:34

    GTP_OUTBUF /* \ram_rd_data_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[0]  (
            .O (ram_rd_data[0]),
            .I (nt_ram_rd_data[0]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* \ram_rd_data_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[1]  (
            .O (ram_rd_data[1]),
            .I (nt_ram_rd_data[1]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* \ram_rd_data_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[2]  (
            .O (ram_rd_data[2]),
            .I (nt_ram_rd_data[2]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* \ram_rd_data_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[3]  (
            .O (ram_rd_data[3]),
            .I (nt_ram_rd_data[3]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* \ram_rd_data_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[4]  (
            .O (ram_rd_data[4]),
            .I (nt_ram_rd_data[4]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* \ram_rd_data_obuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[5]  (
            .O (ram_rd_data[5]),
            .I (nt_ram_rd_data[5]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* \ram_rd_data_obuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[6]  (
            .O (ram_rd_data[6]),
            .I (nt_ram_rd_data[6]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* \ram_rd_data_obuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_rd_data_obuf[7]  (
            .O (ram_rd_data[7]),
            .I (nt_ram_rd_data[7]));
	// ../../rtl/ip_2port_ram.v:35

    GTP_OUTBUF /* ram_rd_en_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ram_rd_en_obuf (
            .O (ram_rd_en),
            .I (nt_ram_rd_en));
	// ../../rtl/ip_2port_ram.v:33

    GTP_OUTBUF /* \ram_wr_addr_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_addr_obuf[0]  (
            .O (ram_wr_addr[0]),
            .I (nt_ram_wr_addr[0]));
	// ../../rtl/ip_2port_ram.v:31

    GTP_OUTBUF /* \ram_wr_addr_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_addr_obuf[1]  (
            .O (ram_wr_addr[1]),
            .I (nt_ram_wr_addr[1]));
	// ../../rtl/ip_2port_ram.v:31

    GTP_OUTBUF /* \ram_wr_addr_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_addr_obuf[2]  (
            .O (ram_wr_addr[2]),
            .I (nt_ram_wr_addr[2]));
	// ../../rtl/ip_2port_ram.v:31

    GTP_OUTBUF /* \ram_wr_addr_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_addr_obuf[3]  (
            .O (ram_wr_addr[3]),
            .I (nt_ram_wr_addr[3]));
	// ../../rtl/ip_2port_ram.v:31

    GTP_OUTBUF /* \ram_wr_addr_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_addr_obuf[4]  (
            .O (ram_wr_addr[4]),
            .I (nt_ram_wr_addr[4]));
	// ../../rtl/ip_2port_ram.v:31

    GTP_OUTBUF /* \ram_wr_data_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[0]  (
            .O (ram_wr_data[0]),
            .I (nt_ram_wr_data[0]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* \ram_wr_data_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[1]  (
            .O (ram_wr_data[1]),
            .I (nt_ram_wr_data[1]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* \ram_wr_data_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[2]  (
            .O (ram_wr_data[2]),
            .I (nt_ram_wr_data[2]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* \ram_wr_data_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[3]  (
            .O (ram_wr_data[3]),
            .I (nt_ram_wr_data[3]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* \ram_wr_data_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[4]  (
            .O (ram_wr_data[4]),
            .I (nt_ram_wr_data[4]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* \ram_wr_data_obuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[5]  (
            .O (ram_wr_data[5]),
            .I (nt_ram_wr_data[5]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* \ram_wr_data_obuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[6]  (
            .O (ram_wr_data[6]),
            .I (nt_ram_wr_data[6]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* \ram_wr_data_obuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \ram_wr_data_obuf[7]  (
            .O (ram_wr_data[7]),
            .I (nt_ram_wr_data[7]));
	// ../../rtl/ip_2port_ram.v:32

    GTP_OUTBUF /* ram_wr_en_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ram_wr_en_obuf (
            .O (ram_wr_en),
            .I (nt_ram_wr_en));
	// ../../rtl/ip_2port_ram.v:30

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="B5", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    (* PAP_DONT_TOUCH *) GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../../rtl/ip_2port_ram.v:24

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="G5", PAP_IO_VCCIO="1.5", PAP_IO_STANDARD="LVCMOS15", PAP_IO_NONE="TRUE" *)    (* PAP_DONT_TOUCH *) GTP_INBUF /* sys_rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_rst_n_ibuf (
            .O (nt_sys_rst_n),
            .I (sys_rst_n));
	// ../../rtl/ip_2port_ram.v:25

    pll_clk u_pll_clk (
            .clkout0 (nt_clk_50m),
            .clkout1 (nt_clk_25m),
            .pll_lock (nt_locked),
            .clkin1 (nt_sys_clk),
            .pll_rst (N0));
	// ../../rtl/ip_2port_ram.v:42

    ram_rd u_ram_rd (
            .ram_rd_addr (nt_ram_rd_addr),
            .ram_rd_en (nt_ram_rd_en),
            .N0_0 (N0_0),
            .clk (nt_clk_25m),
            .rst_n (nt_sys_rst_n));
	// ../../rtl/ip_2port_ram.v:73

    ram_wr u_ram_wr (
            .ram_wr_addr (nt_ram_wr_addr),
            .ram_wr_data (nt_ram_wr_data),
            .ram_wr_en (nt_ram_wr_en),
            .N0_0 (N0_0),
            .clk (nt_clk_50m),
            .rst_n (nt_sys_rst_n));
	// ../../rtl/ip_2port_ram.v:51


endmodule

